%body
  %section#content
    - if flash[:notice]
      %p.notice
      = flash[:notice]
    - if flash[:error]
      %p.error
      = flash[:error]
    %table.data#services
      %thead
        %tr
          -t = Array.new
          -t[0] = Time.current()
          -for i in 1..5
            -t[i] = t[i-1].yesterday
          %th Service
          %th.today Current
          -for i in 1..5
            %th 
              =t[i].strftime("%b. %d")
      %tbody
        -current_user.services.each do |s|
          %tr#account-portal
            %td
              =link_to s.name, service_path(s)
            -q = s.statuses
            -if !q.empty?
              -f = q.last.time
              =puts s.name + " aaaaaaa "+ f.to_s + " " + q.last.time.to_s
              -tt = Array.new
              -for i in [0,1,2,3,4,5]
                -querysym = q.where(:time => f..t[i].end_of_day).first
                -if !querysym.nil?
                  -sym=querysym.state
                -else
                  -sym="N/A"
                =puts "********** " + sym + " " + t[i].to_s
                %td.status
                  = render :partial => "symbols", :locals => {:sym => sym}
    #legend
      %h4 
        Status Legend
        %ul
          %li
            %img#sym(src="assets/cross-circle.png")
            %p The service is currently down
          %li
            %img#sym(src="assets/tick-circle.png")
            %p The service is up
          %li
            %img#sym(src="assets/exclamation.png")
            %p The service is experiencing intermittent problems
          

