<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%#= unless current_user.services.empty? %>
	<% current_user.services.each do |s| %>
	 	<%= s.name %> <br>
		<% s.statuses.each do |t| %>
			<%= t.message %> 
		<% end %>
		<p>
	<% end %>
	<%#= current_user.services.count %>	